@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Travelista</h1>
    <p>Get to know a few of <a href="/destinations">our destinations</a> from around the Universe!</p>
</div>
